:root {
  --white:        #FFF;
  --goldenGrass:  #DAA520;
  --gold:         #FFD700;
  --daisyBush:    #551A8B;
  --gallery:      #ECECEC;
  --chambray:     #3B5998;
  --astronaut:    #29447E;
  --blackRussian: #130027;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url(../img/bg.png) repeat;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 56.25rem;
}

.heading {
  color: var(--white);
  background: rgba(0, 0, 0, 0.2);
  font-size: 2.375rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  margin: 0 .625rem;
  padding: .625rem 0;
}

.social {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-gap: .625rem;
  margin: 1.25rem .625rem;
}

.social-item {
  background: var(--white);
  border: 4px solid var(--goldenGrass);
  padding: .625rem;
}

.social-item:hover {
  background: var(--gold);
}

.social-item:last-child {
  text-align: center;
  grid-column: span 2;
}

.social-name {
  color: var(--daisyBush);
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: .3125rem;
}

.social-link {
  display: block;
  text-decoration: none;
}

.social-desc {
  cursor: default;
  font-size: .9375rem;
  text-indent: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0px 1px var(--gallery);
}

.social-desc:hover {
  overflow: visible;
  white-space: normal;
}

.btn {
  color: var(--white);
  cursor: pointer;
  background: var(--chambray);
  border: 2px solid var(--astronaut);
  outline: none;
  display: block;
  margin: 0 auto 1.25rem;
  padding: .625rem 1.25rem;
  font-size: .9375rem;
  text-shadow: 0px 1px var(--blackRussian);
}

.btn:hover,
.btn:active {
  text-decoration: underline;
}

@media (max-width: 46em) {
  body {
    align-items: flex-start;
  }

  .heading {
    margin: 0;
  }

  .social {
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  }

  .social-item:last-child {
    text-align: left;
    grid-column: 1 / 2;
  }
}

@media (max-width: 24em) {
  .social {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}